h2.sources_title {
    width: 120px;
}

#sources {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #001E42;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.source {
    text-align: center;
    margin-block: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.source img {
    width: 80px;
    margin-right: 30px;
}