#events_calendar {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-around;
}

#left_panel {
    width: 50%;
    margin-right: 40px;

}

h2.calendar_title {
    margin-top: 0;
    width: 70%;
}

#events {
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 2px solid #001E42;
    border-radius: 20px;
    background-color: white;

}

.event {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block: 15px;
}

.event img {
    width: 40px;
    height: 20px;
    margin-right: 10px;
}

#calendar_nav {
    width: 350px;
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px
}

.calendar_nav_button {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #001E42;
    border-radius: 10px;
    color: #E6E6E6;
    font-size: 1.5em;
    border: 3px solid #001E42;
}

.calendar_nav_button:hover {
    background-color: #55A630;
}

#calendar_nav_title {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #001E42;

}

#calendar_days {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 42px;
    height: 60px;
    margin: 2px;
    border: 2px solid #001E42;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.invisible {
    border-color: transparent;
    background-color: transparent;
}


.dayname {
    height: 20px;
    background-color: #001E42;
    color: #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
}

.weekend .dayname {
    background-color: red;
}

.daynumber {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.6em;
}

.eventday {
    border-radius: 100px;
    margin: 5px;
    background-color: #6A99B6;
}

.today .daynumber {
    border-radius: 100px;
    margin: 5px;
    border: 3px solid #001E42;
}

.invisible * {
    display: none;
}

@media screen and (max-width: 1024px) {
    #left_panel {
        margin-right: 10px;
    }

    #events {
        padding-left: 0;
    }

    .event {
        font-size: 0.9em;
    }

}

@media screen and (max-width: 768px) {
    #events_calendar {
        flex-direction: column-reverse;
        margin-top: 40px;
        align-items: center;
    }

    #left_panel {
        margin-top: 30px;
        width: 90%;
    }

    #events {
        padding-left: 10px;
    }

    .event {
        font-size: 1em;
    }
}

@media screen and (max-width: 425px) {
    #calendar_nav {
        width: 210px;
        height: 40px;
        margin-bottom: 0
    }

    .calendar_nav_button {
        width: 30px;
        height: 30px;
        font-size: 1.1em;
    }

    #calendar_nav_title {
        width: 150px;
        font-size: 1.1em;
    }


    #calendar_days {
        width: 210px;
    }

    .day {
        width: 22px;
        height: 35px;
        margin: 2px;
        border-radius: 6px;
    }

    .dayname {
        height: 20px;
        font-size: 11px;
    }

    .daynumber {
        height: 100%;
        font-size: 1em;
    }

    .eventday {
        margin: 2px;
        background-color: #6A99B6;
    }

    .today .daynumber {
        margin: 1px;
        border: 2px solid #001E42;
    }

    h2.calendar_title {
        margin-bottom: 0;
        font-size: 1.1em;
    }

    #left_panel {
        margin-top: 20px;
    }

    #events_calendar {
        margin-top: 20px;
    }

    #events {
        padding-left: 0;
        padding-top: 0;
    }

    .event {
        margin-block: 15px;
        font-size: 0.9em;

    }
}