#grounds_and_weather_container {
    display: flex;
    flex-direction: column;
}

#check_weather_button {
    border: none;
    outline: none;
    margin: 0;
    background-color: #6A99B6;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #001E42;
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px
}

#check_weather_button:hover {
    background-color: #55A630;
}

#weather_forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.day_weather {
    min-width: 100px;
    width: 100px;
    height: 167px;
    border-radius: 15px;
    border: 3px solid #001E42;
    overflow: hidden;
    margin-inline: 5px;
    background-color: white;
}

.weather_dayname {
    height: 20px;
    background-color: #001E42;
    color: #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
}

.weather_icon {
    font-size: 2.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #4F75A7;
}

.weather_details {
    height: 90px;
    display: flex;
    flex-direction: column;
    border-top: 3px solid #001E42;
    font-size: 0.8em;
}

.weather_details>table td {
    margin: 0;
}

.weather_details>table tr td:first-child {
    text-align: center;
    font-size: 10px;
}

.weather_details>table tr td:nth-child(2) {
    font-size: 11px;
}

.weather_details>table tr td:last-child {
    text-align: right;
    font-size: 12px;
}

#grounds {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

#details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-right: 20px;
}


#grounds_map {
    height: 426px;
    min-width: 250px;
    width: 50%;
    border-radius: 20px;
    border: 3px solid #001E42;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.map_button {
    border: none;
    outline: none;
    background-color: #001E42;
    color: #E6E6E6;
    font-size: 1.1em;
    width: 100%;
    border-top: 2px solid #6A99B6;
}

.map_button:hover {
    background-color: #55A630;
}

#map_buttons_divider {
    background-color: #6A99B6;
    width: 3px;
}

#map {
    height: 386px;
    min-width: 250px;
    width: 100%;
}

#map_buttons {
    height: 40px;
    display: flex;
    flex-direction: row;
}

#grounds h2 {
    width: 250px;
    margin-top: 0;
}

.ground_detail {
    width: 85%;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #001E42;
    margin-block-end: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.ground_detail_name {
    height: 40px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #6A99B6;
    border-right: 2px solid #001E42;
    width: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.8em;
    color: #001E42;
}

.ground_detail_desc {
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 63%;
    overflow-y: hidden;
}

.weekend {
    background-color: red;
}

@media screen and (max-width: 1024px) {
    #grounds {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }

    #grounds h2 {
        width: 400px;
    }

    #details {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    .ground_detail {
        width: 47%;
        height: 40px;
        border-radius: 15px;
        border: 2px solid #001E42;
        margin-block-end: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }

    .ground_detail_name {
        font-size: 0.7em;
    }

    #grounds_map {
        height: 426px;
        min-width: 250px;
        width: 100%;
        border-radius: 20px;
        border: 3px solid #001E42;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    #weather_forecast {
        justify-content: left;
        flex-wrap: wrap;
    }

    .day_weather {
        margin-bottom: 10px;
    }


}

@media screen and (max-width: 500px) {

    #grounds h2 {
        width: 200px;
    }

    #details {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .ground_detail {
        width: 90%;
    }


    #grounds_map {
        min-width: 200px;
    }

    #weather {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #weather_forecast {
        width: 232px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .day_weather {
        margin-bottom: 10px;
    }
}