#newsletter_title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#newsletter_title img {
    width: 100px;
}

#newsletter_title h2 {
    width: 300px;
    font-size: 1.2em;
    padding-inline: 20px;
}

#newsletter_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fieldset {
    border: 2px solid #001E42;
    border-radius: 15px;
    margin-block: 10px;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.form_elements {
    width: 50%;
}

.error_space {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-weight: bold;
}

.form_elements>div {
    margin-block: 5px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
}

.form_elements>div>label {
    margin-left: 5px;
}

fieldset textarea {
    width: 99%;
}

legend {
    border: 2px solid #001E42;
    border-radius: 12px;
    padding-inline: 10px;
    padding-block: 5px;
    background-color: #6A99B6;
}

#rodo_section {
    display: flex;
    align-items: center;
    padding-inline: 50px;
}

#submit_button {
    border: none;
    outline: none;
    margin: 0;
    background-color: #6A99B6;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #001E42;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}

#submit_button:hover {
    background-color: #55A630;

}

@media screen and (max-width: 768px) {
    #newsletter_title img {
        width: 60px;
        height: auto;
    }
}