#shop {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#shop #items {
    width: 100%;
    min-height: 200px;
}

#shop .category {
    border-radius: 15px;
    border: 2px solid #001E42;
    overflow: hidden;
    padding-bottom: 2px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#shop #filters .category_name {
    height: 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #6A99B6;
    border-bottom: 2px solid #001E42;
    border-left: 2px solid #001E42;
    border-right: 2px solid #001E42;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.8em;
    color: #001E42;
}

#shop .category ul {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 30px;
}

#shop .category a {
    text-decoration: none;
    color: #001E42;
    font-size: 0.8em;
}

#shop h2.selected_category {
    width: 60%;
    margin-top: 0;
}

#shop #items {
    padding-left: 40px;
}

#shop #items_display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

#shop .item {
    width: 180px;
    height: 250px;
    border: 2px solid #001E42;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 1px rgb(173, 173, 173);
    overflow: hidden;
    margin: 10px;
    background-color: white;
}

#shop .item_image {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #001E42;
    text-align: center;
    overflow: hidden;
}

#shop .item_image img {
    width: 100%;
    height: 100px;
    object-fit: scale-down;
}

#shop .item_name {
    width: 100%;
    height: 40px;
    font-weight: 600;
    padding: 2px;
    font-size: 0.95em;
}

#shop .item_description {
    width: 100%;
    height: 60px;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    line-height: 1.3em;
    padding-inline: 5px
}

#shop .item_price_details {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

#shop .item_price,
#shop .item_details {
    height: 30px;
    border: 2px solid #001E42;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4F75A7;
    border-bottom: none;
}

#shop .item_details:hover {
    background-color: #55A630;
}

#shop .item_price {
    width: 40%;
    border-left: none;
    border-top-right-radius: 10px;
    background-color: #6A99B6;

}

#shop .item_details {
    width: 50%;
    border-right: none;
    border-top-left-radius: 10px;
    font-size: 1em;
}

#details {
    display: flex;
    flex-direction: column;
}

#details #img_and_options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 20px;
    margin-top: 30px;
}

#details #img_and_options img {
    width: 40%;
    border: 2px solid #001E42;
    border-radius: 20px;
    object-fit: scale-down;
    background-color: white;
}

#details #name_and_options {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

#details #item_price {
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
}

#details .options {
    display: flex;
    flex-direction: row;
}

#details button.option {
    margin: 0;
    outline: none;
    height: 30px;
    background-color: white;
    margin-block: 5px;
    margin-inline: 5px;
    border-radius: 5px;
    border: 2px solid #001E42;
}

#details button.option:hover {
    background-color: #55A630;
}

#details button.selected {
    background-color: #001E42;
    color: white;
}

#details #quantity {
    margin: 5px;
    height: 20px;
    border: 2px solid #001E42;
    border-radius: 5px;
}

#details #quantity_error {
    color: red;
}

#details #product_details {
    border-radius: 20px;
    border: 2px solid #001E42;
    overflow: hidden;
    margin-top: 30px;
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

#details #product_details div {
    padding-block: 4px;
    font-size: 1.2em;
    text-align: center;
    background-color: #6A99B6;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid #001E42;
    border-top: none;
}

#details #product_details table {
    border-collapse: collapse;
    width: 100%;
}

#details #product_details td {
    font-size: 0.9em;
    margin: 0;
    width: 50%;
    padding: 4px;
}

#details #product_details td:first-child {
    border-right: 1px solid #001E42;
    text-align: right;
    padding-right: 20px;
}

#details #product_details td:last-child {
    border-left: 1px solid #001E42;
    padding-left: 20px;
    text-align: left;
}

#details #product_details tr {
    border-bottom: 1px solid #001E42
}

#details #product_details tr:last-child {
    border-bottom: none;
}

#details #back_and_cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

#details #back_and_cart button {
    margin: 0;
    outline: none;
    padding-inline: 10px;
    height: 50px;
    border: 2px solid #001E42;
    border-radius: 15px;
    background-color: #4F75A7;
    font-size: 1.1em;
}

#details #back_and_cart button:hover {
    background-color: #55A630;
}

@media screen and (max-width: 768px) {
    #details #img_and_options {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #details #img_and_options img {
        width: 70%;
        height: 250px;
        border: 2px solid #001E42;
        border-radius: 20px;
        object-fit: scale-down;
        background-color: white;
        margin-top: 30px;
    }

    #details #name_and_options {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
    }

}